$blackColor: rgb(30, 30, 30);
$whiteColor: rgb(223, 222, 222);
$redColor: rgb(119, 2, 2);
$buttonColor: rgb(5, 56, 199);

$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: Arial, Helvetica, sans-serif;

// @mixin buttonStyle{
//     width: 200px;
//     height: 40px;
//     background-color: $buttonColor;
//     border: none;
//     border-radius: 10px;
//     color: $whiteColor;
// }


@mixin buttonStyle($buttonColor,$fontSize) {
    width: 200px;
    height: 40px;
    background-color: $buttonColor;
    border: none;
    border-radius: 10px;
    color: $whiteColor;
    font-size: $fontSize;
}
